:root {
  --color-primary: #fff;
  --color-link: #147abf;
  --color-btn-bg: #46b688;
  --bg-main: #fafafa;
  --bg-footer: #666; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

*,
**::before,
**::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

body {
  background-color: var(--color-primary);
  font-weight: 400;
  font-family: Arial, 'Open Sans', sans-serif;
  line-height: 1.6; }

.wrapper {
  max-width: 100%;
  margin: auto; }

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 100%;
    margin: auto; } }

header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary); }

.header_wrapper {
  flex-direction: column; }

.header_logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333; }

.header_right {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.header_premium {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-link); }

.header_buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center; }

.header_buttons--link {
  text-decoration: none;
  color: var(--color-link);
  padding: 10px 20px;
  border: 1px solid var(--color-link);
  margin-right: 0; }

.header_buttons--link:not(:last-child) {
  color: var(--color-primary);
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--color-btn-bg);
  margin-bottom: 15px;
  outline: none;
  border: none; }

.header_buttons {
  display: flex; }
  .header_buttons--link {
    text-decoration: none;
    color: var(--color-link);
    padding: 10px 20px;
    border: 1px solid var(--color-link);
    margin-top: 5px; }
  .header_buttons--link:not(:last-child) {
    color: var(--color-primary);
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--color-btn-bg);
    margin-bottom: 0;
    outline: none;
    border: none; }

.main_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #f0f0f0; }
  .main_header h2 {
    color: var(--color-link);
    font-size: 15px; }

main.main {
  margin-top: 250px; }

.main_content {
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

@media screen and (min-width: 768px) {
  .main_content {
    flex-direction: row;
    align-items: flex-start; } }

.main_content--nav {
  width: 100%; }
  .main_content--nav ul li a {
    display: flex;
    color: #909090;
    padding: 15px 10px;
    border-bottom: 1px solid #d0d0d0;
    transition: padding 0.3s; }
    .main_content--nav ul li a:hover, .main_content--nav ul li a:focus, .main_content--nav ul li a:active {
      color: #333;
      background-color: var(--color-btn-bg);
      padding: 20px; }
  .main_content--nav ul li .noBorder {
    border: none; }

@media screen and (min-width: 768px) {
  .main_content--nav {
    flex: 0 1 20%; }
    .main_content--nav ul li a {
      display: flex;
      color: #909090;
      padding: 15px 10px;
      border-bottom: 1px solid #d0d0d0;
      transition: padding 0.3s; }
      .main_content--nav ul li a:hover, .main_content--nav ul li a:focus, .main_content--nav ul li a:active {
        color: #333;
        background-color: var(--color-btn-bg);
        padding: 20px; }
    .main_content--nav ul li .noBorder {
      border: none; } }

.main_content--box {
  flex: 1; }

.item--box {
  padding: 10px 0;
  background-color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  margin: 10px;
  justify-content: center;
  align-items: center; }

.item--text {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .item--text a {
    font-size: 10px;
    color: var(--color-link);
    cursor: pointer; }

.footer {
  background-color: var(--bg-footer); }

.footer_nav {
  width: 100%; }
  .footer_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer_nav ul li > a {
      display: block;
      color: #fff;
      padding: 5px 0;
      font-size: 15px; }

.footer_rights {
  text-align: center;
  padding: 15px 0; }
  .footer_rights a {
    color: var(--color-link);
    font-size: 15px; }

@media screen and (min-width: 768px) {
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0; }
  .header_logo {
    flex: 0 0 20%;
    border-bottom: none;
    justify-content: flex-start; }
  .header_right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 10px; }
  .header_premium a {
    color: var(--color-link); }
  .header_buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 0; }
    .header_buttons--link {
      text-decoration: none;
      color: var(--color-link);
      padding: 10px 20px;
      border: 1px solid var(--color-link);
      margin-top: 0;
      margin-right: 5px; }
    .header_buttons--link:not(:last-child) {
      color: var(--color-primary);
      text-decoration: none;
      padding: 10px 20px;
      background-color: var(--color-btn-bg);
      margin-bottom: 0;
      outline: none;
      border: none; } }

@media screen and (min-width: 768px) {
  main.main {
    margin-top: 100px; }
  .main_content--box {
    flex: 0 1 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .item--box {
    margin: 10px; } }

@media screen and (min-width: 768px) {
  .footer_nav {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer_nav ul {
      flex-direction: row;
      margin: 15px 0; }
      .footer_nav ul li > a {
        display: block;
        color: #fff;
        padding: 5px 20px;
        font-size: 15px; } }
