@import "base";
@import "layout";
@import "components";


////////////////////////////
/// header desktop
.header-desktop {
    display: none;
}


@media screen and (min-width: 768px) {

    .header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_wrapper2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_buttons--link:not(:last-child),
    .header_buttons--link.header_buttons--nobg
     {
        margin-right: 5px;
    }

    .header_premium2 {
        color: var(--color-link);
        display: flex;
        height: 100%;
    }

    .header_buttons2 {
        display: flex;
        .header_buttons--link {
            margin-bottom: 0;
        }
    }
    

}

////////////////////////////
/// header mobile
.header {
    background-color: var(--color-primary);
    width: 100%;
    margin-bottom: 5px;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

@media screen and (min-width: 768px) {
    .header_wrapper {
        flex-direction: row;
        margin-top: 100px;
    }
}

.header_logo {
    border-bottom: 1px solid #d0d0d0;
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .header_logo {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.header_content {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header_premium {
    margin-bottom: 15px;
    a {
        text-decoration: none;
        display: block;
        color: var(--color-link);
        font-size: 20px;
    }
}

.header_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    &--link {
        text-decoration: none;
        color: var(--color-link);
        padding: 10px 20px;
        border: 1px solid var(--color-link);
    }

    &--link:not(:last-child) {
        color: var(--color-primary);
        text-decoration: none;
        padding: 10px 20px;
        background-color: var(--color-btn-bg);
        margin-bottom: 15px; 
        outline: none;
    }
}

////////////////////////////
/// main header
.main_header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    h2 {
        color: var(--color-link);
        font-size: 15px;
    }
}


////////////////////////////
/// main content 
.main_content {
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .main_content {
        flex-direction: row;
        align-items: flex-start;
    }
}


////////////////////////////
/// main content navigation
.main_content--nav {
    width: 100%;
    ul {
        li {
            a {            
                display: flex;
                color: #909090;
                padding: 15px 10px;
                border-bottom: 1px solid #d0d0d0;

                transition: padding 0.3s;            
                &:hover, 
                &:focus, 
                &:active {
                  color: #333;
                  background-color: var(--color-btn-bg);
                  padding: 20px;
                }
            }
            .noBorder {
                border: none;
            }

        }
    }
}

@media screen and (min-width: 768px) {
    .main_content--nav {
        flex: 0 1 20%;
        ul {
            li {
                a {            
                    display: flex;
                    color: #909090;
                    padding: 15px 10px;
                    border-bottom: 1px solid #d0d0d0;
    
                    transition: padding 0.3s;            
                    &:hover, 
                    &:focus, 
                    &:active {
                      color: #333;
                      background-color: var(--color-btn-bg);
                      padding: 20px;
                    }
                }
                .noBorder {
                    border: none;
                }
    
            }
        }
    }
}

////////////////////////////
/// main content box
.main_content--box {
    flex: 1;
}

.item--box {
    padding: 10px 0;
    background-color: #fff;
    margin-bottom: 5px;
    cursor: pointer;

    margin: 10px;
    justify-content: center;
    align-items: center;
}

.item--text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        font-size: 10px;
        color: var(--color-link);
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .main_content--box {
        flex: 0 1 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item--box {
        margin: 10px;
    }

}




////////////////////////////
/// footer
.footer {
    background-color: var(--bg-footer);
}

.footer_nav {
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li > a {
            display: block;
            color: #fff;
            padding: 5px 0;
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer_nav {
        display: flex; 
        justify-content: center;
        align-items: center;
        ul {
            flex-direction: row;
            margin: 15px 0;
            li > a {
                display: block;
                color: #fff;
                padding: 5px 20px;
                font-size: 15px;
            }
        }
    }
}


.footer_rights {
    text-align: center;
    padding: 15px 0;
    a {
        color: var(--color-link);
        font-size: 15px;
    }
}

