@import "base";
@import "layout";
@import "components";


////////////////////////////
/// header mobile

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
}

.header_wrapper {
    flex-direction: column;
}

.header_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
}

.header_right {
    flex: 1;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.header_premium {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-link); 
}

.header_buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.header_buttons--link {
    text-decoration: none;
    color: var(--color-link);
    padding: 10px 20px;
    border: 1px solid var(--color-link);
    margin-right: 0;
}

.header_buttons--link:not(:last-child) {
    color: var(--color-primary);
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--color-btn-bg);
    margin-bottom: 15px;
    outline: none;
    border: none;
}

.header_buttons {
    display: flex;
    &--link {
        text-decoration: none;
        color: var(--color-link);
        padding: 10px 20px;
        border: 1px solid var(--color-link);

        margin-top: 5px;
    }

    &--link:not(:last-child) {
        color: var(--color-primary);
        text-decoration: none;
        padding: 10px 20px;
        background-color: var(--color-btn-bg);
        margin-bottom: 0; 
        outline: none;
        border: none;
    }
}


////////////////////////////
/// main header
.main_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    h2 {
        color: var(--color-link);
        font-size: 15px;
    }
}


////////////////////////////
/// main content
main.main {
    margin-top: 250px;
}

.main_content {
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .main_content {
        flex-direction: row;
        align-items: flex-start;
    }
}


////////////////////////////
/// main content navigation
.main_content--nav {
    width: 100%;
    ul {
        li {
            a {            
                display: flex;
                color: #909090;
                padding: 15px 10px;
                border-bottom: 1px solid #d0d0d0;

                transition: padding 0.3s;            
                &:hover, 
                &:focus, 
                &:active {
                  color: #333;
                  background-color: var(--color-btn-bg);
                  padding: 20px;
                }
            }
            .noBorder {
                border: none;
            }

        }
    }
}

@media screen and (min-width: 768px) {
    .main_content--nav {
        flex: 0 1 20%;
        ul {
            li {
                a {            
                    display: flex;
                    color: #909090;
                    padding: 15px 10px;
                    border-bottom: 1px solid #d0d0d0;
    
                    transition: padding 0.3s;            
                    &:hover, 
                    &:focus, 
                    &:active {
                      color: #333;
                      background-color: var(--color-btn-bg);
                      padding: 20px;
                    }
                }
                .noBorder {
                    border: none;
                }
    
            }
        }
    }
}

////////////////////////////
/// main content box
.main_content--box {
    display: flex;
    flex-wrap: wrap;
    .item--box {
        flex: 1 1 100%;
        padding: 10px 0;
        background-color: #fff;
        margin-bottom: 5px;
        cursor: pointer;
    
        margin: 10px;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
        }
    }
}


.item--text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        font-size: 10px;
        color: var(--color-link);
        cursor: pointer;
    }
}

////////////////////////////
/// footer
.footer {
    background-color: var(--bg-footer);
}

.footer_nav {
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li > a {
            display: block;
            color: #fff;
            padding: 5px 0;
            font-size: 15px;
        }
    }
}

.footer_rights {
    text-align: center;
    padding: 15px 0;
    a {
        color: var(--color-link);
        font-size: 15px;
    }
}

///////////////////
// responsive

////////////////////////////
/// desktop
@media screen and (min-width: 768px) {

    .header_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        position: fixed;
        width: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
    }


    .header_logo {
        flex: 0 0 20%;
        border-bottom: none;
        justify-content: flex-start;
    }

    .header_right {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-right: 10px;
    }

    .header_premium {
        a {
            color: var(--color-link);
        }
    }

    .header_buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        &--link {
            text-decoration: none;
            color: var(--color-link);
            padding: 10px 20px;
            border: 1px solid var(--color-link);
            margin-top: 0;
            margin-right: 5px;
        }

        &--link:not(:last-child) {
            color: var(--color-primary);
            text-decoration: none;
            padding: 10px 20px;
            background-color: var(--color-btn-bg);
            margin-bottom: 0; 
            outline: none;
            border: none;
        }
    }

}


@media screen and (min-width: 768px) {

    main.main {
        margin-top: 100px;
    }

    .main_content--box {
        flex: 0 1 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .item--box {
            margin: 10px;
            flex: none;
        }
    }


}


@media screen and (min-width: 768px) {
    .footer_nav {
        display: flex; 
        justify-content: center;
        align-items: center;
        ul {
            flex-direction: row;
            margin: 15px 0;
            li > a {
                display: block;
                color: #fff;
                padding: 5px 20px;
                font-size: 15px;
            }
        }
    }
}

